#cookie-page-repeater .items{
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
#cookie-page-repeater .items .item-content{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}
#cookie-page-repeater .items .item-content p{
  margin: 0;
}
#cookie-page-repeater .items .item-content p input,#cookie-page-repeater .items .item-content p .select2-container{
  width: 100% !important;
}
#cookie-page-repeater .items .pull-right{
  width: 10%;
  text-align: center;
}
#cookie-page-repeater .items .pull-right .dashicons{
  text-decoration: none;
  height: 40px;
  width: 40px;
  background: red;
  color: #fff;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
}
.repeater-heading{
  text-align: right;
}
.repeater-heading .btn{
  padding: 15px 30px;
  background: #00805d;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
}
